extends layout.pug

block content
    form(method="post").text-center
        .question
            label(for="q1")= ques[0]
            br
            span.question-answer
                input#q1-1(type="radio", name="q1", value="yes")
                label(for="q1-1") Yes
            span.question-answer
                input#q1-2(type="radio", name="q1", value="no")
                label(for="q1-2") No
        .question
            label(for="q2")= ques[1]
            br
            span.question-answer
                input#q2-1(type="radio", name="q2", value="yes")
                label(for="q2-1") Yes
            span.question-answer
                input#q2-2(type="radio", name="q2", value="no")
                label(for="q2-2") No
        .question
            label(for="q3")= ques[2]
            br
            span.question-answer
                input#q3-1(type="radio", name="q3", value="yes")
                label(for="q3-1") Yes
            span.question-answer
                input#q3-2(type="radio", name="q3", value="no")
                label(for="q3-2") No
        .question
            label(for="q4")= ques[3]
            br
            span.question-answer
                input#q4-1(type="radio", name="q4", value="yes")
                label(for="q4-1") Yes
            span.question-answer
                input#q4-2(type="radio", name="q4", value="no")
                label(for="q4-2") No
        .question
            label(for="q5")= ques[4]
            br
            span.question-answer
                input#q5-1(type="radio", name="q5", value="yes")
                label(for="q5-1") Yes
            span.question-answer
                input#q5-2(type="radio", name="q5", value="no")
                label(for="q5-2") No
        .question
            label(for="q6")= ques[5]
            br
            span.question-answer
                input#q6-1(type="radio", name="q6", value="yes")
                label(for="q6-1") Yes
            span.question-answer
                input#q6-2(type="radio", name="q6", value="no")
                label(for="q6-2") No
        br
        input(type="submit", value="Submit Form")