extends layout

block content
    .text-center
        each ans, ind in answers
            strong= "Question " + (ind + 1)
            br
            strong= questions[ind]
            br
            if ans == "yes"
                em= "You answered " + ans + ". "
                p= stat[ind]['y']
            else
                em= "You answered " + ans + ". "
                p= stat[ind]['n']

        form(method="get")
            input(type="submit", value="Go Home")